<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<!-- Dialogo para editar o elimnar un gasto -->
<div th:fragment="gasto" data-role="dialog" id="gastodialog">
<!-- 	Encabezado -->
	<header data-role="header">
		<h1>Detalle Gasto</h1>
  	</header>
<!--   	Contenido principal -->
  	<section data-role="content">
  		<form id="formactualizargasto" data-ajax="false">
  			<input type="hidden" id="btonidgasto" />
			<label for="formactualizargasto">Categorías</label>
			<fieldset class="ui-grid-a">
				<div class="ui-block-a">
					<select id="selecategorias"></select>
				</div>
				<div class="ui-block-b">
					<input id="btonfechagasto" type="date" />
				</div>
			</fieldset>
			
			<label for="monto">Monto</label>
			<input type="number" id="nmromonto" name="monto" step="0.01" min="0" max="9999" required="required" placeholder="0.00" />
			<label for="gasto">Descripción del gasto</label>
			<div class="item-inner">
				<div class="item-input">
					<textarea rows="" cols="" placeholder="Captura una descripción" id="textdsgasto" name="gasto" required="required" maxlength="100" minlength="2"></textarea>
				</div>
			</div>
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<input type="submit" value="Actualizar" data-theme="b" form="formactualizargasto"/>
				</div>
				<div class="ui-block-b">
					<input type="button" value="Eliminar" id="btoneliminargasto"/>
				</div>
			</div>
  		</form>
  	</section>
</div>
</html>