<!DOCTYPE html>
<html lang='es-MX' xmlns:th='http://www.thymeleaf.org'>
<header th:fragment="header">
	<nav class="navbar is-dark" role="navigation" aria-label="dropdown navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="/home">
				<img src="https://bulma.io/images/bulma-logo-white.png" alt="Administrador de gastos" width="112" height="28" />
			</a>
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false ">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div class="navbar-menu is-active">
			<div class="navbar-start">
				<!-- navbar items -->
				<a class="navbar-item"> Home </a>
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link"> Comprobante </a>
					<div class="navbar-dropdown">
						<a class="navbar-item" href="/home/gastos">Consultar Gastos </a>
						<a class="navbar-item" href="/home/creargasto" id="creargasto"> Anotar Gasto </a>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>

</html>