<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/cdn/head :: head"></head>
<body>
	<!-- 		Encabezado -->
	<header th:replace="/fragments/header :: header"></header>
	<section id="categoriagasto" class="section">
		<label for="textcategoria"><b>Agregar Categoría</b></label>
		<form class="box" id="formagregarcategoria" >
			<div class="field">
				<div class="control">
					<input class="input is-primary" type="text" id="textcategoria" placeholder="Captura la categoría" required="required" maxlength="100" minlength="2" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="button is-success" type="submit" value="Agregar" form="formagregarcategoria" />
				</div>
			</div>
		</form>
		<!--División del Tipo-->
		<label for="selecategorias"><b>Categorías</b></label>
		<form class="box" id="formeliminarcategoria">
			<div class="field">
				<div class="control">
					<ul class="list" id="selecategorias">
					</ul>
				</div>
			</div>
		</form>
	</section>
	<!--		Sripts -->				
	<div th:replace="/cdn/script :: script"></div>
	<script type="module" src="/public/categoriagasto.js" ></script>
</body>
</html>