<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/cdn/head :: head"></head>
<body>
	<!-- 		Encabezado -->
	<header th:replace="/fragments/header :: header"></header>
	<section id="pagecreargasto" class="section">
		<form class="box">
	   		<div class="columns">
		   		<div class="column">
			 		<div class="select">
						<select id="selecategorias">
							<option selected="selected">Seleccione...</option>
						</select>
					</div>
		   		</div>
	   			<div class="column">
					<a href="#" id="btoncategoria" class="button is-warning">
						Agregar/Eliminar
					</a>
	   			</div>
			</div>
		</form>
		<form id="formguardargasto" class="box">
			<input class="button" style="width: 100%" type="number" id="nmromonto" name="monto" step="0.01" min="0" max="9999" required="required" placeholder="0.00" />
			<div class="item-inner">
				<div class="item-input">
					<textarea class="textarea" rows="10" cols="" placeholder="Captura una descripción" id="textdsgasto" name="gasto" required="required" maxlength="100" minlength="2"></textarea>
				</div>
			</div>
			<input class="button is-success" type="submit" value="Guardar Gasto" data-theme="b" form="formguardargasto"/>
		</form>	
	</section>
	<!--		Sripts -->				
	<div th:replace="/cdn/script :: script"></div>
	<script type="module" src="/public/creargasto.js" ></script>
</body>
</html>