<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/cdn/head :: head"></head>
<body>
	<!-- 		Encabezado -->
	<header th:replace="/fragments/header :: header"></header>
	<!-- 		Contenido principal -->
	<section id="leergastos" class="section">
		<label for="seleanios"><b>Búsqueda de gastos</b></label>
		<form id="formbuscargasto" class="box">
			<div class="field has-addons has-addons-centered">
				<fieldset class="control">
					<div class="select">
						<select id="seleanios">
						</select>
					</div>
					<div class="select">
						<select id="selemeses">
						</select>
					</div>
				</fieldset>
			</div>
		</form>
		<label for=""><b>Gastos</b></label>
		<form class="box" >
			<div class="field" id="setgastos">
				
			</div>	
		</form>
	</section>
	<!--		Sripts -->				
	<div th:replace="/cdn/script :: script"></div>
	<script type="module" src="/public/leergastos.js"></script>	
</body>
</html>