<!DOCTYPE html>
<html lang="es-MX" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/cdn/head :: head"></head>
<body>
	<!-- 	Página para leer los gastos -->
	<div data-role="page" id="leergastos">
		<!-- 		Encabezado -->
		<header th:replace="/fragments/header"></header>
		<!-- 		Contenido principal -->
		<section data-role="content">
			<div data-role="collapsibleset" id="setgastos">	
			</div>
		</section>
		<!-- 		Pie de página -->
		<footer th:replace="/fragments/footer"> </footer>
	</div>
	<!-- 	Dialogo para el gasto -->
	<div th:replace="/dialogs/gastodialog"> </div>
	
	<div th:replace="/cdn/script :: script"></div>
	<script type="module" src="/public/leergastos.js"></script>
</body>
</html>